header{
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    color: aqua;
    border: 5px aqua solid;
    box-shadow: 10px 10px 10px rgb(6, 193, 193);
    text-shadow: 2px 2px black;
    background: url(https://phonoteka.org/uploads/posts/2021-07/1625577871_15-phonoteka-org-p-zastavka-dlya-mastera-manikyura-krasivie-z-15.jpg);
}

a{
    border: 5px aqua solid;
    box-shadow: 5px 5px 1px rgb(6, 193, 193);
    text-decoration: none;
    text-shadow: 2px 2px black;
    color: aqua;
    background: url(https://almode.ru/uploads/posts/2020-12/1608701850_6-p-kartinki-vektornogo-manikyura-14.png);
}

main{
    font-size: 20px;
    color: aqua;
    border: 5px aqua solid;
    box-shadow: 10px 10px 10px rgb(6, 193, 193);
    text-shadow: 2px 2px black;
    background: url(https://sun9-33.userapi.com/impf/884CpOqK_BM8AK_pshPNbqZMy0MjYTfOWreUrw/UWY1QhocFeg.jpg?size=1818x606&quality=95&crop=0,9,1200,400&sign=d3572a4204946afdeb2c678bab1dc3f2&type=cover_group);
}

body{
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    color: aqua;
    border: 10px aqua solid;
    box-shadow: 10px 10px 10px rgb(6, 193, 193);
    background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613305615_59-p-sinii-mramornii-fon-90.jpg);
}

.h12 p{
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px black;
}
