.ah{
    background-color: aqua;
    color: black;
    border-color: black;
    text-align: center;
    font-size: 30px;
    font-family: monospace;
} 

.okvk{

}

.ah a{
    display: inline-block;
    margin: 20px;
    width: 300px;
    min-height: 300px;
    text-decoration: none;
    border: 5px black double;
}

.okvk a{

}
